@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
    background: linear-gradient(to right, rgb(29, 151, 108),rgb(85, 226, 137), rgb(29, 151, 108));
}

.mont-font {
    font-family: 'Montserrat', sans-serif;
}

.nav-hide {
    transform: translateX(100%);
}

.nav-show {
    transform: translateX(0);
}